.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 300px;
}

.popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.popup-subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: left;
}

.profile-img {
  display: block;
  width: 270px;
  height: 270px;
  background-color: var(--primary);
}

.popup-btns-section {
  display: flex;
  justify-content: space-evenly;
}

.popup-btn {
  padding: 0.2rem;
  margin-top: 1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border: 0;
  width: 50%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}

.popup-btn:hover {
  background-color: var(--primary-active);
}
