:root {
  --primary: #000;
  --primary-active: MidnightBlue;
  --primary-text: #fff;
  --secondary: #ccc;

  --negative: white;
  --negative-active: #eee;

  --max-width-form: 400px;
  --spacer: .5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

