@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  overflow: auto;
  min-height: 300px;
}

.header {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: #1c1018;
}

.header-image {
  width: 70%;
}

.btn {
  display: block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  width: 60%;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
