main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width-form);
    margin: 0 auto;
    flex-grow: 1;
}

a, button {
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: var(--spacer);
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--primary-text);
}

.hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}

.hr::before, 
.hr::after  {
    content: "";
    display: block;
    height: 2px;
    width: 42%;
    background-color: var(--primary);
}

.loginregister {
    width: 100%;
    margin: 0 auto;
}

.loginregister-title {
    display: none;
}

.loginregister-label {
    display: block;
}

.loginregister-label-text {
    display: none;
}

.loginregister input {
    width: 100%;
    margin-bottom: 1rem;
    padding: var(--spacer);
    font-size: 1.2rem;
    border: 2px solid var(--primary);
    border-radius: 4px;
}

.login-register-button {
    margin-top: 1rem;
}