header {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
}

h1 {
    color: var(--primary-text);
    font-size: 1.6rem;
}

h2 {
    font-size: 0.8rem;
    color: var(--primary-text);
}

img {
    max-height: 200px;
    margin: 1rem;
}

@media screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: center;
        padding: 0;
    }

    img {
        max-height: 50px;
    }
    
    h2 {
        margin-left: auto;
        margin-right: 1rem;
    }
}