header {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
}

header h1 {
    color: var(--primary-text);
    font-size: 1.6rem;
}

header h2 {
    font-size: 0.8rem;
    color: var(--primary-text);
}

header img {
    max-height: 200px;
    margin: 1rem;
}

.authed {
    display: flex;
    align-items: center;
    padding: 0;
}

.authed img {
    max-height: 2rem;
}

.authed h2 {
    margin-left: auto;
    margin-right: 1rem;

}

@media screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: center;
        padding: 0;
    }

    header img {
        max-height: 50px;
    }
    
    header h2 {
        margin-left: auto;
        margin-right: 1rem;
    }
}