.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.send {
  display: flex;
  margin: 0 1rem 1rem;
}

.send-input {
  width: 100%;
  padding: var(--spacer);
  font-size: 1rem;
  font-family: inherit;
}

.send-button {
  padding: 1rem 2rem;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}

.send-button:hover {
  background-color: var(--primary-active);
}

.messages {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.message {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 4rem;
  list-style: none;
}

.message::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: black;
}

.sender {
  display: block;
  font-weight: bold;
}

.time {
  float: right;
  margin-left: 1rem;
  font-size: .8rem;
  font-weight: normal;
  color: var(--secondary)
}

.end-message {
  list-style: none;
  line-height: 1px;
}

@media screen and (min-width: 800px) {

}
